---
const target = '/team/'
---

<meta http-equiv="refresh" content={`0; url=${target}`} />
<script is:inline>
  window.location.replace('/team/')
</script>
<p>
  This page has moved to <a href={target}>/team/</a>.
</p>
